h3 {
    color: navy;
  }

.primary {
     font-size: 1.5em;
     color: purple; 
     font-weight: bold;
  }

.getStarted:hover{
  background-color: yellow;
  font-size: 5em;
}

a:link {
  color: #FF0000;
}
a:visited {
  color: #00FF00;
}